body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6; /*tamanho da linha*/
    margin: 0;
    background: #5cdb95;
}

main{
    width: 960px;
    margin: 0 auto;
}

h1 a{
    color: #edf5e1;
    text-decoration: none;
}

h1 a:hover{
    color: #5cdb95;
    background: #edf5e1;
}

article{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
}

article h2{
    border-bottom: 1px dashed #05386b;
    margin: 0;
}

article a{
    color: #05386b;
    font-weight: bolder;
}

article img{
    border: 1px solid #05386b;
    margin: 10px 10px 0 0;
    padding: 2px;
    float: left;
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.5s ease;
}

article img:hover{
    filter: grayscale(0%);
    transform: scale(1.5);
}

.clear{
    clear: both;
}

section{
    float: left;
    width: 660px;
}

aside{
    background: #8ee4af;
    border: 1px solid #379683;
    padding: 10px;
    width: 260px;
    float: right;
}

aside h3{
    font-size: 14px;
    margin-top: 0;
}

aside ol{
    font-size: 12px;
}

footer{
    font-size: 12px;
    text-align: center;
}